@page "/Asszisztens/Allatok/Index"
@model DrPetClinic.Web.Pages.Assistant.Animals.IndexModel
@{
  ViewData["Title"] = "Állatok";
}

<div class="mt-2">
  <h1>
    <h1>Állatok</h1>
  </h1>
</div>

<div class="d-flex justify-content-end">
  <a class="btn btn-outline-primary" asp-page="/Assistant/Animals/Create">Új állat felvétele</a>
</div>

<table class="table table-striped table-bordered mt-3">
  <thead>
    <tr>
      <th>Állat neve</th>
      <th>Fajtája</th>
      <th>Státusza</th>
      <th>Tulajdonos neve(i)</th>
      <th>Kezelések</th>
      <th>Műveletek</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var animal in Model.Animals)
    {
      <tr>
        <td>@animal.Name</td>
        <td>@animal.Species</td>
        <td>@animal.Status</td>
        <td>
          @if (animal.OwnerNames.Any())
          {
            <ul>
              @foreach (var owner in animal.OwnerNames)
              {
                <li>@owner</li>
              }
            </ul>
          }
          else
          {
            <span>Nincs tulajdonos</span>
          }
        </td>
        <td>
          @if (animal.Treatments.Any())
          {
            <ul>
              @foreach (var treatment in animal.Treatments)
              {
                <li>@treatment</li>
              }
            </ul>
          }
          else
          {
            <span>Nincsenek kezelések</span>
          }
        </td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-primary" asp-page="/Assistant/Treatments/Create" asp-route-AnimalId="@animal.Id">Új
              kezelés</a>
            <a class="btn btn-sm btn-outline-primary" asp-page="/Assistant/Animals/Edit"
              asp-route-AnimalId="@animal.Id">Szerkesztés</a>
            <a class="btn btn-sm btn-outline-danger" asp-page="/Assistant/Animals/Delete" asp-route-AnimalId="@animal.Id">Törlés</a>
          </div>
        </td>
      </tr>
    }
  </tbody>

</table>