@page
@model DrPetClinic.Web.Pages.Animals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Species)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Animal.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Animal.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Animal.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
