@page "/Orvosok/{OrvosId:guid}"
@model DrPetClinic.Web.Pages.DoctorDetails.IndexModel
@{
    ViewData["Title"] = $"{Model.DoctorName} rendelései";
}

<div class="mt-2">
    <h1>@ViewData["Title"]</h1>
</div>

@await Component.InvokeAsync("ConsultationTimes", new { mode = DrPetClinic.Web.Enums.ViewMode.Monthly })

@* @if (Model.ConsultationTimes == null || !Model.ConsultationTimes.Any())
{
    <p>Nincs elérhető rendelés a következő három hónapra.</p>
}
else
{
    <table class="table table-striped table-bordered mt-5">
        <thead>
            <tr>
                <th>Év</th>
                <th>Hónap</th>
                <th>Hét</th>
                <th>Rendelési Idő</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weekGroup in Model.ConsultationTimes)
            {
                var parts = weekGroup.Key.Split('-');
                if (parts.Length != 3)
                {
                    <tr>
                        <td colspan="4">Érvénytelen hétcsoport kulcs: @weekGroup.Key</td>
                    </tr>
                    continue;
                }

                bool isYearParsed = int.TryParse(parts[0], out int year);
                bool isMonthParsed = int.TryParse(parts[1], out int month);
                bool isWeekParsed = int.TryParse(parts[2], out int week);

                if (!isYearParsed || !isMonthParsed || !isWeekParsed)
                {
                    <tr>
                        <td colspan="4">Érvénytelen adat a hétcsoport kulcsban: @weekGroup.Key</td>
                    </tr>
                    continue;
                }

                <tr>
                    <td>@year</td>
                    <td>@Model.GetHungarianMonthName(month)</td>
                    <td>@week</td>
                    <td>
                        <ul class="list-unstyled mb-0">
                            @foreach (var consultation in weekGroup.Value.OrderBy(ct => ct.DayOfWeek))
                            {
                                <li>
                                    <strong>@Model.GetHungarianDayOfWeek(consultation.DayOfWeek):</strong>
                                    @consultation.StartTime.ToString(@"hh\:mm") - @consultation.EndTime.ToString(@"hh\:mm")
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} *@
